# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/